<div class="container">
	<div class="d-flex" style="overflow: scroll">
		<ng-template class="mb-2" ngFor let-year [ngForOf]="years">
			<div class="d-flex mx-1" (click)="setCurrYear(year)">
				<div class="btn d-flex menu yearColor(year) isCurrYear(year)">
					<span class="mx-1 my-0">{{ year }}</span>
				</div>
			</div>
		</ng-template>
	</div>
	<div class="d-flex" style="overflow: scroll">
		<ng-template class="mb-2" ngFor let-month [ngForOf]="months">
			<div class="d-flex mx-1" (click)="setCurrMonth(month)">
				<div class="btn d-flex menu monthColor(month) isCurrMonth(month)">
					<span class="mx-1 my-0">{{ month }}</span>
				</div>
			</div>
		</ng-template>
	</div>
	<div>
	<h4 class="text-center">{{ tgl }}, {{ currMonth }}, {{ currYear }}</h4>
		<div style="width: 100%; overflow: scroll">
			<div class="border d-flex">
				<div style="width: 30%">
					<div class="d-flex row row-cols-4 my-2">
						<h6 class="col my-0 text-center">tgl</h6>
						<h6 class="col my-0 text-center">spd</h6>
						<h6 class="col my-0 text-center">dir</h6>
						<span class="d-flex justify-content-center align-items-center">
							<input type="checkbox" class="d-flex">
						</span>
					</div>
					<ng-template ngFor let-i [ngForOf]="tgl">
						<div class="d-flex row row-cols-4">
							<span class="d-flex justify-content-center align-items-center">
								<p>{{ i }}</p>
							</span>
							<input class="text-center" type="number"
								value="">
							<input class="text-center" type="number"
								value="">
							<input type="checkbox">
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</div>